@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.h-navigation {
  height: 5rem;
}

.h-screen-navigation {
  height: 100vh;
  padding-top: 5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
